<%= form_for([current_user, @project]) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %><br />
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %><br />
  </div>
  <div class="field">
    <%= f.label "Image" %>
    <%= f.file_field :image %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="button">
    <%= link_to 'Back', user_path(current_user) %>
  </div>
<% end %>
