<% if form.object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
      <% form.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %><br />
</div>
<div class="field">
  <%= form.label :description %>
  <%= form.text_field :description %><br />
</div>
<div class="field">
  <%= form.fields_for :assets do |assets_form| %>
    <%= assets_form.label :image %>
    <%= assets_form.file_field :image %>
  <% end %>
</div>
<div class="actions">
  <%= form.submit %>
</div>
