<%= form_tag projects_path, :method => :get do %>
  <p>
    <%# <%= text_field_tag :search, params[:search] %>
    <%# <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%# <%= paginate @projects %>
<% @projects.each do |project| %>
  <% if project.image.exists? %>
    <%= link_to image_tag(project.image.url(:small)), project %>
  <% end %>
<% end %>

<br />
