<%= form_tag projects_path, :method => :get do %>
  <p>
    <%# <%= text_field_tag :search, params[:search] %>
    <%# <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%# <%= paginate @projects %>

<div class="projects"></div>

<% content_for :javascript do %>
  <script type="text/json" id="bootstrap">
    { "projects": <%== ActiveModel::ArraySerializer.new(@projects).to_json %> }
  </script>

  <%= javascript_tag do %>
    $(function() {
      new Maker.Routers.ProjectsRouter();
      Backbone.history.start({
        pushState: false,
        root: '/projects/'
      });
    });
  <% end %>
<% end %>
