<% if current_user.following?(@user) %>
  <div class="avatar"><%= image_tag avatar_url(@project.user) %></div>
  <%= render "unfollow" %>
<% elsif current_user == @user %>
  <div></div>
<% else %>
  <div class="avatar"><%= image_tag avatar_url(@project.user) %></div>
  <%= render "follow" %>
<% end %>
<br />

<div class="proj-show">
  <section>
    <aside>
      <%= image_tag @project.image.url(:medium) %>
    </aside>
    <article>
      <h1>
        <%= @project.title %>
        <% if current_user == @user %>
          <%= link_to image_tag("/gear.png", width: 24), edit_project_path(@project) %>
        <% end %>
      </h1>
      <h3><%= @project.description %></h3>
    </article>
  </section>

  <h3>Comments:</h3>
  <%= render @project.comments %>

  <%= form_for([@project, @comment]) do |form| %>
    <div class="text-area">
      <%= form.text_area :body %>
    </div>
    <div class="comment-button">
      <%= form.submit "Comment" %>
    </div>
  <% end %>
</div>
