<maker-info>
<div class="avatar"><%= image_tag avatar_url(@project.user) %></div>
<% if current_user.following?(@user) %>
  <%= form_for(current_user.relationships.find_by_followed_id(@user), method: :delete ) do |f| %>
    <%= f.submit "Unfollow", class: "button-small" %>
  <% end %>
<% else %>
  <%= form_for(current_user.relationships.build(followed_id: @user.id)) do |f| %>
    <%= f.hidden_field :followed_id %>
    <%= @user.name %><br />
    <%= f.submit "Follow", class: "button-small" %>
  <% end %>
<% end %>
</maker-info>

<project-info>
<h1><%= @project.title %></h1>
<h3><%= @project.description %></h3>
<%= link_to "Edit Project", edit_project_path(@project) %>

<div class="buff"></div>
<div class="buff"></div>

<% @project.steps.each do |step| %>
  <div class="buff"></div>
  <section>
    <aside><%= image_tag step.pic.url(:medium) %></aside>
    <article>
      <div class="step-name"><%= step.name %></div>
      <div class="step-detail"><%= step.detail %></div>
      <div class="step-tip">
        <% unless step.tip.empty? %>
          <%= "Tip: " + step.tip %>
        <% end %>
      </div>
    </article>
  </section>
  <div class="buff"></div>
<% end %>

<% if @user == current_user %>
  <div class="button-blue">
    <%= link_to 'Add step', new_project_step_path(@project) %>
  </div>
  <div class="buff"></div>
<% end %>
</project-info>
