<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<%= image_tag @project.image.url(:medium) %><br />

<b>Steps:</b><br />
<% @project.steps.each do |step| %>
  <%= image_tag step.pic.url(:medium) %>
  <%= step.name %>
  <%= step.detail %>
  <%= step.tip %><br />
<% end %>

<%= link_to 'Add step', new_user_project_step_path(current_user, @project) %>
<%= link_to 'Edit', edit_user_project_path(@project) %>
<%= link_to 'Back', user_path(current_user) %>
