<div id="project-thumb"><%= image_tag @project.image.url(:thumb) %></div>

<h1><%= @project.title %></h1>
<p>
  <%= @project.description %>
  <%= link_to 'Edit Project', edit_project_path(@project) %>
</p>

<% @project.steps.each do |step| %>
  <div class="buff"></div>
  <section>
    <aside><%= image_tag step.pic.url(:medium) %></aside>
    <article>
      <div class="step-name"><%= step.name %></div>
      <div class="step-detail"><%= step.detail %></div>
      <div class="step-tip">
        <% if step.tip != nil %>
          Tip: <%= step.tip %>
        <% end %>
      </div>
    </article>
  </section>
  <div class="buff"></div>
<% end %>

<div class="button-blue">
  <%= link_to 'Add step', new_project_step_path(@project) %>
</div>
<div class="button">
  <%= link_to 'Back', projects_path %>
</div>
<div class="buff"></div>
