  <% if form.object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% form.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %><br />
  </div>
  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail %><br />
  </div>
  <div class="field">
    <%= form.label :tip %>
    <%= form.text_field :tip %><br />
  </div>
  <div class="field">
    <%= form.label "Image" %>
    <%= form.file_field :pic %><br />
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
  <div class="button">
    <%= link_to "Back", project_path(@project) %>
  </div>
