<%= form_for @goal do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% @goal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "What would you like to accomplish?" %>
    <%= f.text_field :goal %><br />
  </div>
  <div class="field">
    <div class="field-float">
      <%= f.label "Harass me till I get it done!" %>
    </div>
    <%= f.check_box :remind_me %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="button">
    <%= link_to 'Back', dashboard_projects_path %>
  </div>
<% end %>
